[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ki4070ma (ki4070ma)
[access "refs/for/refs/*"]
	read = group user/ki4070ma (ki4070ma)
	push = group user/ki4070ma (ki4070ma)
	label-Code-Review = -2..+2 group user/ki4070ma (ki4070ma)
	label-Verified = -1..+1 group user/ki4070ma (ki4070ma)
	rebase = group user/ki4070ma (ki4070ma)
	removeReviewer = group user/ki4070ma (ki4070ma)
	submit = group user/ki4070ma (ki4070ma)
[access "refs/heads/*"]
	read = group user/ki4070ma (ki4070ma)
	create = group user/ki4070ma (ki4070ma)
	push = +force group user/ki4070ma (ki4070ma)
	pushMerge = group user/ki4070ma (ki4070ma)
[access "refs/tags/*"]
	push = +force group user/ki4070ma (ki4070ma)
	pushTag = group user/ki4070ma (ki4070ma)
	pushSignedTag = group user/ki4070ma (ki4070ma)
